/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */
 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

header{
    min-height: 600px;
    background-image:url("../images/developer.png");
    background-color: rgb(255, 248, 243);
    background-repeat: no-repeat;
    background-size: 100px 550px;  
    background-position-x: 10px;
    background-position-y: 20px;
}

.header-content{
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    justify-items: flex-start;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
}
.header-content .name{
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
    margin: 50px 50px 0px 50px ;
}

.nav{
    display: flex;
    text-decoration: none;
    justify-items: center;
    align-items: center;
    color: #474747;
    list-style-type: none;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-style: normal;
    gap: 50px;
}
.nav li{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}
.btn{
    width: 150px;
    height: 64px;
    background-color: rgb(253, 110, 10);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
}
.head{
    margin: 40px 20px 0px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/header_bg.png);
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 700px;
    background-position-y: 60px;

}
.header-container{
    width: 40%;
    margin-left: 50px;
}
.header-container h3{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}
.header-container h1{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 85px;
    font-weight: 700;
    line-height: 116px;
    letter-spacing: 0%;
    text-align: left;
}
.header-container p{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 10px;
}
.btn-secondary{
    width: 150px;
    height: 64px;
    color: rgb(253, 110, 10);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    margin-left: 15px;
    border-radius: 5px;
}

/* about section style */

.about-container{
    width: 1140px;
    height: 550px;
    margin: 0px auto;
    background-color: rgb(255, 248, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.about-content{
    width: 827px;
    height: 288px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    

}
.about-content h4{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 10px;
    

}
.about-content p {
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
.description{
    width: 782px;
    height: 60px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-content: space-between;
    gap: 50px;
    margin: 20px 0px;
    background-color: white;
}
.description .items{
    width: 118px;

    height: 60px;
    
}
.description .items p{
    Font: Open Sans;
    font-weight: 400;
    font-size: 20px;
    color: rgb(117, 117, 117);
    
}
.description .items h6{
    Font: Open Sans;
    Font-weight: 700;
    Font-size: 20px;
    color: rgb(71, 71, 71);
}
/* work section style*/

.work-container{
    width: 1140px;
    height: 550px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-container h4{
    width: 187px;
    height: 48px;
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}
.work-container p{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    
    margin-bottom: 40px;
}

.work-content{
    width: 827px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    

}
.work{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    gap: 24px;
    margin-bottom: 100px;
    background-color: rgb(233, 231, 231);
}
.work .items{
    width: 267px;
    height: 377px;
    padding: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
}
.work .items img{
    margin-top: 30px;
    margin-left: 30px;
    width: 44px;
    height: 44px;
}
.work .items .work-brief{
    margin-top: 30px;

}
.work .items .work-brief h4{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}
.work .items .work-brief p{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;

}

